<template>
  <div class="container">
    <div id="myDIV" class="header">
      <h2 style="margin: 5px">Todo List</h2>
      <input type="text" v-model="newTodo" id="myInput" />
      <span id="addTodo_Btn" @click="addTodo" class="addBtn">Ekle</span>
    </div>

    <todo @getTodos="getTodos" :title="title" :todos="todoList" />
  </div>
</template>

<script>
import Todo from "./Todo.vue";
import axios from 'axios';

export default {
  components: {
    Todo,
  },
  data: () => ({
    endpoint: "http://164.90.163.134:8080/todo",
    newTodo: "",
    todoList: [],
    title: "Todos",
  }),
  mounted() {
    this.getTodos();
  },
  methods: {
    getTodos() {
      axios.get(this.endpoint).then(res => {
        this.todoList = res.data;
      }).catch(err => {
        console.log(err);
      })

    },
    addTodo() {
      var todo = {
        description: this.newTodo,
        statu: "0",
      };
      axios.post(this.endpoint, todo).then(res => {
        if (res.data.InsertedID) {
        this.newTodo = "";
        this.getTodos();
      }
      }).catch(err => {
        console.log(err);
      })
    },
  },
};
</script>

<style>
/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
</style>
