<template>
  <ul id="myUL">
    <p>{{this.$props.title}}</p>
    <li
      v-for="todo in this.$props.todos" :key="todo.ID" @click="completeTodo(todo.ID)" :class="checkFormatter(todo.Statu)">
      {{ todo.Description }}
      <span @click="deleteTodo(todo.ID)" class="close"> Sil </span>
    </li>
  </ul>
</template>

<script>
import axios from 'axios';

// => STATU CASELERİ
//      "0" => Yeni
//      "1" => Tamamlandı

export default {
  props: {
      title: String,
      todos: Array,
      getTodos: Function    // TodoList comp getTodos callback
  },
  data: () => ({
    endpoint: "http://164.90.163.134:8080/todo",
    todoList: [],
    deleteState: true,
  }),
  mounted() {
  },
  methods: {
    deleteTodo(todoId) {
      this.deleteState = false;
      axios.delete(this.endpoint + "/" + todoId).then(res => {
        if (res.status == 200) {
          this.$emit("getTodos");
        }
      }).catch(err => {
        console.log(err);
      })
    },
    completeTodo(todoId) {
      if (this.deleteState) {
        axios.get(this.endpoint + "/update/" + todoId).then(res => {
          if (res.status == 200) {
            this.$emit("getTodos");
          }
        }).catch(err => {
          console.log(err);
        })
      }
      this.deleteState = true;
    },
    checkFormatter(statu) {
      return statu == "1" ? "checked" : "";
    },
  },
};
</script>

<style>
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

</style>
